@import "tailwindcss";

@font-face {
  font-family: 'NebulaSans';
  src: url('/fonts/NebulaSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NebulaSans';
  src: url('/fonts/NebulaSans-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NebulaSans';
  src: url('/fonts/NebulaSans-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NebulaSans';
  src: url('/fonts/NebulaSans-BookItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NebulaSans';
  src: url('/fonts/NebulaSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NebulaSans';
  src: url('/fonts/NebulaSans-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NebulaSans';
  src: url('/fonts/NebulaSans-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NebulaSans';
  src: url('/fonts/NebulaSans-SemiboldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NebulaSans';
  src: url('/fonts/NebulaSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NebulaSans';
  src: url('/fonts/NebulaSans-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NebulaSans';
  src: url('/fonts/NebulaSans-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NebulaSans';
  src: url('/fonts/NebulaSans-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-nebula: 'NebulaSans', sans-serif;
}

/* ty https://medium.com/@alexdev82/css-relative-colors-the-game-changing-feature-i-wish-id-known-earlier-12c28b81b3bf */

:root {
  font-family: 'NebulaSans', sans-serif;
  --accent-color: #000000;
  --accent-lighter: hsl(from var(--accent-color) h s calc(l + 15));
  --accent-darker: hsl(from var(--accent-color) h s calc(l - 15));
  --accent-muted: hsl(from var(--accent-color) h calc(s - 30) l);
  --accent-vibrant: hsl(from var(--accent-color) h calc(s + 20) l);
}