---

import IconList from "./IconList.astro";
import MusicList from "./MusicList.astro";
import ProjectList from "./ProjectList.astro";
import ResearchPaperList from "./ResearchPaperList.astro";

---

<div class="bg-stone-950/70 backdrop-blur-xs text-white w-full p-5 mr-3">
    <span id="reactive-text-size">@udu3324</span>
    <span id="pronounce" class="font-mono">/juːdiːjuː/</span>
    <br>
    <br>
    <p class="italic">“i create random things”</p>
    
    <br>

    <p>
        Hello! I go by my screen name udu3324 or udu for short. 
        You can find all of the platforms I use on the right. 
        I create things ranging from minecraft mods to 
        fun/useful electronic devices.
    </p>
    
    
    <h1>Technology</h1>
    <p>
        I have some knowledge in these things below
    </p>
    <IconList/>


    <h1>Projects I've Worked On</h1>
    <p>
        Here are some projects that I've worked on. You can find more of them on my GitHub. If you really like the stuff I make, consider starring the repository!
    </p>
    <ProjectList/>


    <h1>Random Research Papers</h1>
    <p>
        Over time, I have found research papers that are pretty neat. Check them out below
    </p>
    <ResearchPaperList/>


    <h1>Great Music</h1>
    <p>
        I listen to a bunch of alternative and indie stuff. Below are some picks I highly recommend! 
    </p>
    <MusicList/>
</div>

<style>
    @reference "tailwindcss";

    #pronounce {
        color: var(--accent-darker);
    }

    #reactive-text-size {
        @apply text-7xl font-bold
    }

    @media only screen and (max-width: 700px) {
        #reactive-text-size {
            @apply text-4xl
        }
    }

    h1 {
        @apply text-xl font-bold pt-8
    }
</style>