---

import { getCommitHash, getDate } from "../utils/Git";

import Tooltip from "./Tooltip.astro";
import Splash from "./Splash.svelte"

let commitHash = getCommitHash() || import.meta.env.VERCEL_GIT_COMMIT_SHA || "commit n/a"
//let branch = getBranch() || import.meta.env.VERCEL_GIT_COMMIT_REF || "branch n/a"
let date = getDate() || import.meta.env.VITE_COMMIT_DATE || "date n/a"

let url = `https://github.com/udu3324/uduhome/commit/${commitHash}`
---

<div class="bg-stone-950/80 backdrop-blur-md text-white mt-32 p-5 mx-3">

    <div id="tooltip" class="absolute bottom-full right-0 block">
      <Splash client:load/>

      <div class="absolute bottom-full right-0 top-full h-0 w-0 border-l-4 border-r-4 border-t-4 border-l-transparent border-r-transparent border-t-black"></div>
    </div>

    <Tooltip text="you are a certified nerd btw">
        <a href={url} target="_blank" class="hover:underline decoration-2 decoration-wavy">
            commit 
            <span id="code">{commitHash.slice(0, 7)} </span>
            @
            <span id="code">{date}</span>
        </a>
    </Tooltip>
    <div>

    </div>
</div>

<style>
    @reference "tailwindcss";

    a {
        @apply font-mono;
        color: var(--accent-color)
    }

    #code {
        color: var(--accent-lighter)
    }
</style>