<div class="absolute z-10 flex justify-center-safe w-full">
    <div class="w-[60rem] mt-52">
        <div class="flex">
            <div class="ml-3 p-3 bg-stone-950/50 flex flex-col">
                <div class="bg-blue-400/40 w-24 h-24 rounded-lg mb-3">
                    
                </div>
                <button id="button-nav">discord</button>
                <button id="button-nav">github</button>
            </div>
            <div class="bg-stone-950/70 text-white w-full p-5 mr-3">
                <span class="text-7xl">@udu3324</span>
                <p class="text-right">"hello"</p>
                <p>i create random things</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
            </div>
        </div>
        <div class="bg-stone-950/90 text-white mt-32 p-5 mx-3">
            <p>bottom</p>
        </div>
        
    </div>
</div>


<style>
    @reference "tailwindcss";

    #button-nav {
        @apply w-24 text-white cursor-pointer text-right;
    }
</style>