---
import Sidebar from "./Sidebar.astro";
---

<div class="absolute z-10 flex justify-center-safe w-full">
    <div class="w-[60rem] mt-52">
        <div class="flex">
            <Sidebar/>

            <div class="bg-stone-950/70 text-white w-full p-5 mr-3">
                <span id="reactive-text-size">@udu3324</span>
                <p class="text-right">"hello"</p>
                <p>i create random things</p>
                <br>
                <p>lorum ipsum blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
                <br>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
                <p>aaa</p>
            </div>
        </div>
        <div class="bg-stone-950/90 text-white mt-32 p-5 mx-3">
            <p>bottom</p>
        </div>
        
    </div>
</div>


<style>
    @reference "tailwindcss";

    #reactive-text-size {
        @apply text-7xl font-bold
    }

    @media only screen and (max-device-width: 580px) {
        #reactive-text-size {
            @apply text-4xl
        }
    }
    
</style>