---
import Body from "./Body.astro";
import Bottom from "./Bottom.astro";
import Sidebar from "./Sidebar.astro";
---

<div class="absolute z-10 flex justify-center-safe w-full">
    <div class="w-[60rem] mt-52">
        <div class="flex">
            <Sidebar/>

            <Body/>
        </div>

        <Bottom/>
    </div>
</div>