---
import { Image } from "astro:assets"
import Tooltip from "./Tooltip.astro"


const images = import.meta.glob("../assets/icons/*.png", { eager: true })


---

<div class="flex flex-wrap leading-none pt-2">
{
    Object.entries(images).map(([path, img]) => (
        <div class="pr-1">
            <Tooltip text={path.substring(path.lastIndexOf("/") + 1, path.lastIndexOf("."))}>
                <Image
                    src={img.default}
                    alt="icon"
                    width="30"
                    height="30"
                />
            </Tooltip>
        </div>
    ))
}
</div>