---
import { Image } from "astro:assets"
import Tooltip from "./Tooltip.astro"


const images = import.meta.glob("../assets/icons/*.png", { eager: true })


---

<div class="flex">
{
    Object.entries(images).map(([path, img]) => (
        <Tooltip text={path.substring(path.lastIndexOf("/") + 1, path.lastIndexOf("."))}>
            <Image
                src={img.default}
                alt="icon"
                width="30"
                height="30"
            />
        </Tooltip>
    ))
}
</div>