---
import Image from "astro/components/Image.astro";

const { mbid, commentary, url } = Astro.props

let img = `https://coverartarchive.org/release-group/${mbid}/front-250`

---

<a href={url} target="_blank">
    <div id="post" class="relative group w-[185px] h-[185px]">
        <div class="p-2 absolute hidden group-hover:block bg-black/80 w-full">
            <span class="text-sm italic">“{commentary}”</span>
        </div>
        <Image
            src={img} 
            alt="stm32pe" 
            loading="lazy"
            width="185" 
            height="185"
        />
    </div>
</a>

<style>
    @reference "tailwindcss";

    #post {
        background-color: var(--accent-darker);
    }
</style>