---
import Music from "./Music.astro";
---

<div class="flex flex-wrap gap-3 pt-2">
    <Music
        mbid="58451dd7-e0dc-48f3-bc22-76c332e1e07e"
        url="https://lifeformed.bandcamp.com/album/fastfall"
        commentary="iconic, insert chubbyemu references here"
    />
    <Music
        mbid="dc5e566b-ac5a-4ea6-8faa-82f193b086dd"
        url="https://flumemusic.bandcamp.com/album/hi-this-is-flume-mixtape"
        commentary="electronic and experimental in the best way"
    />
    <Music
        mbid="c062737f-a5af-4119-84a6-d8b105801f75"
        url="https://mortgarson.bandcamp.com/album/mother-earths-plantasia"
        commentary="great for relaxing, pioneer of electronic music"
    />
    <Music
        mbid="b32baec6-4edd-4286-b323-2dea67c411d1"
        url="https://paracadute.bandcamp.com/album/and-the-adjacent-possible"
        commentary="good alternative rock"
    />
    <Music
        mbid="5575a447-0d0f-47bd-94d7-0a6d4c298c24"
        url="https://bloodcultures.bandcamp.com/album/oh-uncertainty-a-universe-despairs"
        commentary="the vibes are interesting in this"
    />
    <Music
        mbid="12eff34f-f0a1-474e-a746-23dc70c99fbf"
        url="https://rateyourmusic.com/release/album/madeon/good-faith/"
        commentary="best french electronic music ive ever heard"
    />
    <Music
        mbid="e2cc165d-b935-4e7c-8728-77cf01ab21ed"
        url="https://rateyourmusic.com/release/album/porter-robinson/nurture/"
        commentary="made covid era peak"
    />
</div>