<div class="pt-4">
    <a id="research-link" href="https://doi.org/10.48550/arXiv.2502.15840" target="_blank">Vending-Bench: A Benchmark for Long-Term Coherence of Autonomous Agents</a>
    <a id="research-link" href="https://doi.org/10.21203/rs.3.rs-4345687/v1" target="_blank">Bioaccumulation of Microplastics in Decedent Human Brains Assessed by Pyrolysis Gas Chromatography-Mass Spectrometry</a>
    <a id="research-link" href="https://doi.org/10.1145/3517217" target="_blank">Cognitive biases in software development</a>
    <a id="research-link" href="https://doi.org/10.1088/1748-0221/20/05/p05021" target="_blank">Microfacet models for refraction through rough surfaces</a>
    <a id="research-link" href="https://doi.org/10.1080/23808985.2021.1976070" target="_blank">The role of (social) media in political polarization: a systematic review</a>
</div>

<style>
    @reference "tailwindcss";

    #research-link {
        @apply hover:underline decoration-2 hover:bg-black/80 font-mono block
    }

    #research-link:hover {
        color: var(--accent-lighter)
    }
</style>