<div class="ml-3 p-3 bg-stone-950/50 flex flex-col">
    <div id="accent-cube">
        
    </div>
    <button id="button-nav">discord</button>
    <a href="https://github.com/udu3324" target="_blank" id="button-nav">github</a>
    <a href="https://www.youtube.com/@udu3324" target="_blank" id="button-nav">youtube</a>
    <a href="https://steamcommunity.com/id/Minot_/" target="_blank" id="button-nav">steam</a>
    <a href="https://bandcamp.com/jestors" target="_blank" id="button-nav">bandcamp</a>

    <br>

    <a href="https://ko-fi.com/udu3324"  target="_blank" id="button-nav">ko-fi</a>
</div>

<style>
    @reference "tailwindcss";

    #button-nav {
        @apply w-24 text-white cursor-pointer text-right;
    }

    #accent-cube {
        @apply w-24 h-24 rounded-lg mb-3;
        background-color: var(--accent-color)
    }
</style>