<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>udu3324 - portfolio n stuff</title>

		<meta name="title" content="udu3324 - portfolio n stuff">
		<meta name="description" content="Look at what udu3324 makes. Its a bunch of random, but interesting, stuff.">
		<meta name="keywords" content="software engineering, hardware design, portfolio, web development, creative technology, music">
		<meta name="author" content="udu3324">
		<meta http-equiv="Content-Language" content="en">
		<meta name="robots" content="index, follow">

		<meta property="og:type" content="website">
		<!-- <meta property="og:url" content="https://udu3324.dev/"> -->
		<meta property="og:title" content="udu3324 - portfolio n stuff">
		<meta property="og:description" content="Look at what udu3324 makes. Its a bunch of random, but interesting, stuff.">
		<meta property="og:image" content="/banner.png">
	</head>
	<body>
		<slot />

		<script src="https://pagering.gideon.sh/embed.js" defer></script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
